<!DOCTYPE html>
<html>
<head>
<title>Benjamin Cheet sheet</title>
<link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
    <header>
        <div class="headnav">
            <img src="https://frskngnu.cdn.bubble.io/f1625476658887x379316550179364030/ForskningNu_site-fulllogo.svg">
          
            <a href="#Hjem">Hjem</a>
            <a href="#Reminder SMS">Reminder system</a>
            <a href="#Mail scrape project">Mail scraper</a>

        </div>
    </header>
    

<div class="buttons">

<button type="button">Click Me!</button>
<button> Mail scraper </button>

</div>


</body>
</html>